.jumbotron {
  width:100%;
  margin-bottom: 10px;
  background-color: gray;
  color: white;
  text-align: center;
}
.container {
  /* display: block; */
}
.btn {
  background: #fff;
  /* border-radius: 12px; */
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  justify-content: center;
  margin: 15px;
 }

.btn>.img-container {
  overflow: hidden;
  text-align: center;
  background: white;
  justify-content: center;  
  margin: 5px;   
}

.btn>.img-container>img {
  width: 150px;  
  height: 150px;
}

.middle {
  text-align: center;
  font-size: xx-large;
}
.score {
  float: right;
  
  font-size: xx-large;
}

.left {
  font-weight: bold;
  font-size: xx-large;
}
